.*.swp
classical/scratch/__pycache__
classical/transfered/__pycache__
quantum/scratch/__pycache__
quantum/transfered/__pycache__
quantum/scratch/quanvolution
datasets/
comparisons.py
__pycache__/
qml_test.py
venv/
quantization.py